h1{
    font-weight: bold;
    font-size:23px;
}
img {
    display: block;
    max-width: 100%;
}
.preview {
    text-align: center;
    overflow: hidden;
    width: 400px; 
    height: 250px;
    margin: 10px;
    border: 1px solid red;
}
.section{
    margin-top:150px;
    background:#fff;
    padding:50px 30px;
}
.modal-lg{
    max-width: 1000px !important;
}

.close{
    top: 0px !important;
    font-size: 25px !important;
}

/* para corrigir erro na assinatura da Hotz no footer */
.img-responsive {
    display:  inline;
}